PORT=3000
NODE_ENV=development

DATABASE_URL=
DB_HOST='localhost'
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=

JWT_ACCESS_TOKEN=
JWT_REFRESH_TOKEN=
JWT_ACCESS_TOKEN_EXPIRE='15m'
JWT_REFRESH_TOKEN_EXPIRE='30d'